@using FirstBlazorApp.Models;

@page "/todo"

<h3>Todo</h3>

<ul>
    @foreach (var item in Todos)
    {
        <li>@item.Todo</li>
    }
</ul>

<input @bind="NewTodo" @bind:event="oninput" placeholder="What do you need to do?" />
<input @bind="DueDate" @bind:format="yyyy-MM-dd" placeholder="Due Date" type="date" />
<button @onclick="Save">Save</button>

@if (!string.IsNullOrEmpty(NewTodo))
{
    <p>@NewTodo Due: @DueDate?.ToShortDateString() </p>
}

@code {
    private List<TodoItem> Todos = new();

    private string NewTodo = string.Empty;

    private DateTime? DueDate = null;

    public void Save()
    {
        if (string.IsNullOrEmpty(this.NewTodo)) return;

        Todos.Add(new TodoItem
        {
            Todo = this.NewTodo,
        });

        this.NewTodo = string.Empty;
    }
}